<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Like</title>
    <link rel="stylesheet" href="style/Share.css">
</head>

<body>
    <div class="like-container">
        <div class="like">
            <h3>Send a like</h3>
        </div>
        
        <div class="login-form">
            <div class="form-section">
                <label class="form-label">username</label>
                <input type="text" class="form-input" placeholder="username here">
            </div>
            
            <a href="Share.html"><button class="login-btn">Send</button></a>
            <a href="Share.html"><button class="register-btn">Cancel</button></a>
            

        </div>
    </div>
</body>
</html>