<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League of Stats - Dashboard</title>
    <link rel="stylesheet" href="static/style/mainpage.css">
    <link rel="stylesheet" href="static/style/guide.css">
    <link rel="stylesheet" href="static/style/cursor.css">

</head>

<body>
    <div class="main-container">
        <div class="sidebar">
            <div class="logo-area">
                LEAGUE OF STATS
            </div>
            
            <div class="sidebar-menu">
                <a href="dashboard.html">
                    <div class="icon-placeholder">
                        <img src="../assets/icons/dashboard.png" alt="Dashboard Icon">
                    </div>
                    Dashboard
                </a>
                <a href="characters.html" class="active">
                    <div class="icon-placeholder">
                        <img src="../assets/icons/characters.png" alt="characters Icon">
                    </div>
                    Characters
                </a>
                <a href="patchnotes.html">
                    <div class="icon-placeholder">
                        <img src="../assets/icons/patch.png" alt="patch Icon">
                    </div>
                    Patch Notes
                </a>

                <a href="Share.html">
                    <div class="icon-placeholder">
                        <img src="../assets/icons/dashboard.png" alt="Dashboard Icon">
                    </div>
                    Share
                </a>

                <a href="Guide.html" >
                    <div class="icon-placeholder">
                        <img src="../assets/icons/dashboard.png" alt="Dashboard Icon">
                    </div>
                    Guides
                </a>

                <a href="profile.html" class="profile-button">
                    <div class="profile-icon">
                        <!-- here is the user's avatar, we will build this function later -->
                    </div>
                    Profile
                </a>

            </div>
        </div>




    <div class="footer">
        League of Stats v1.0 • CITS3403 GROUP44 This website has no relation to RIOT GAMES
    </div>

</body>


</html>