<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League of Stats - Share</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/mainpage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/Share.css') }}">
    <link rel="stylesheet" href="/style/cursor.css">
</head>

<body>
    <div class="main-container">
        <div class="sidebar">
            <div class="logo-area">
                LEAGUE OF STATS
            </div>
            
            <div class="sidebar-menu">
                <a href="{{ url_for('dashboard') }}">
                    <div class="icon-placeholder">
                        <img src="{{ url_for('static', filename='assets/icons/dashboard.png') }}" alt="Dashboard Icon">
                    </div>
                    Dashboard
                </a>

                <a href="{{ url_for('share') }}" class="active">
                    <div class="icon-placeholder">
                        <img src="{{ url_for('static', filename='assets/icons/dashboard.png') }}" alt="Dashboard Icon">
                    </div>
                    Share
                </a>
            </div>

            <a href="{{ url_for('profile') }}" class="profile-button">
                <div class="profile-icon">
                    <!-- here is the user's avatar, we will build this function later -->
                </div>
                Profile
            </a>

        </div>

        <div class="content">
            <div class="ButtonRow">
                <!-- 按钮内容 -->
            </div>
        </div>
    </div>

    <div class="footer">
        League of Stats v1.0 • CITS3403 GROUP44 This website has no relation to RIOT GAMES
    </div>
</body>
</html>