<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../style/signin.css">
</head>

<body>
    <div class="login-container">
        <div class="login-header">
            <h1>Login</h1>
        </div>
        
        <div class="login-form">
            <div class="form-section">
                <label class="form-label">username</label>
                <input type="text" class="form-input" placeholder="username here">
            </div>
            
            <div class="form-section">
                <label class="form-label">password</label>
                <input type="password" class="form-input" placeholder="password here">
            </div>
            
            <div class="remember-me">
                <input type="checkbox" id="remember">
                <label for="remember">Keep login for 3 days</label>
            </div>
            
            <a href="dashboard.html"><button class="login-btn">Login</button></a>
            <a href="signup.html"><button class="register-btn">New here? Sign Up here</button></a>
            

        </div>
    </div>
</body>
</html>