.content {
  flex-grow: 1;
  padding: 20px;
  background: #1b2838;
  color : white;
}

.Title {
  position: absolute ;
  margin-top: 50px;
  padding-left: 300px;
  text-decoration: none;
  font-size: 30px; 
  color: #ffffff;
  font-weight: bold;
}

.grid {
  padding-top: 150px ;
  padding-bottom: 100px ;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  max-width: 1000px;
  margin: auto;
}

.card {
  background: #100f1b;
  border-radius: 1rem;
  padding: 0rem;
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

.icon {
  margin-bottom: 0.5rem;
}

.name {
  font-weight: bold;
}

.hidden {
  display: none;
}

button {
  float: right;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}