.WelcomePage a{
    text-decoration: none;
    font-family: 'Arial', sans-serif; 
    font-size: 13px; 
    color: #ffffff; 
    font-weight: bold; 
}

.WelcomePage {
    
    height: 80px;
    width: 400px;
    margin-left: 400px;
    margin-top: 100px;
    padding: 10px;
    transition: background-color 0.2s, color 0.2s;
    /* align-items: center; */
    border: 1px solid #4a5664;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.17);
    
    cursor: pointer;
    position: static;
    position: fixed;
    
}

.WelcomePage:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border-color: rgba(53, 53, 53, 0.25);
}

.logout {
    height: 50px;

    margin-top: 524px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #4a5664;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.2s;
    position: fixed;
    color: #c7d5e0;  /* 添加文字颜色 */
    text-decoration: none;  /* 移除下划线 */
}

.logout:hover {
  
    background-color: rgba(0, 0, 0, 0.15);
    border-color: rgba(255, 0, 0, 0.25);
}