.guide-list {
    list-style: none;
    padding: 0;
}

.guide-item {
    background-color: #2c2f33;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 
    color: #fff;

}

.guide-item h3 {
    margin-top: 0;
    color: #f39c12;
}
