.guide-list {
    max-height: 500px;
    overflow-y: auto;
    padding: 0;
    list-style: none;
}

.guide-item {

    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
    word-wrap: break-word; /* ensures long text wraps */
    white-space: normal;

}

.guide-item p {
    max-height: 150px;
    overflow-y: auto;
    word-break: break-word;
}
