.SendALike {
        height: 40px;
        bottom: 0px;
        right: 0px;

        margin-bottom: 60px;
        margin-right: 20px;
        padding-left: 10px;
        padding-right: 10px;
        
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px solid #4a5664;
        border-radius: 8px;
        display: flex;
        align-items: center;
        transition: border-color 0.2s;
        position: fixed;
        color: #c7d5e0;  /* 添加文字颜色 */
        text-decoration: none;  /* 移除下划线 */
        
}

.SendALike:hover {
      
    background-color: rgba(0, 0, 0, 0.15);
    border-color: rgba(0, 255, 76, 0.25);
}


.Guide:hover {
  
background-color: rgba(0, 0, 0, 0.15);
border-color: rgba(0, 255, 76, 0.25);
}


    






